

<form class="edit-form" (ngSubmit)="onSubmit()">
 
   <h1>Edit this particular Framework:</h1>
    
      <div class="form-control">
        <label for="name">Name:</label>
        <input
          type="text"
          name="name"
          [(ngModel)]="name"
          id="name"
          placeholder="Name:"
          value=" {{ framework.name }}"
        />
      </div>
      <div class="form-control">
        <label for="version">version</label>
        <input
          type="text"
          name="version"
          [(ngModel)]="version"
          id="version"
          placeholder="Version"
          value="{{ framework.version }}"
        />
      </div>
  
      <input type="submit" value="Update Framework" class="btn btn-block update" />
  </form>