<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brainstation23 Demo Website</title>
    
  </head>

  <body>
    



    <section class="first-portion">
      <div class="content">
        <h1 class="heading" id="design-heading">BRAINSTATION23</h1>
        <p id="design-content">Best Software company in Bangladesh</p>
        <a href="https://brainstation-23.com/?bc">
          <button class="btn-doc">Explore now</button>
        </a>
      </div>

      
    </section>

    <section class="second-portion">
      <div class="card mission">
        <div class="card-contents">
          <h1 class="heading">Mission</h1>
          <p>
            We aim to provide services making prople's lives easier
          </p>
        </div>
      </div>

      <div class="card vision">
        <div class="card-contents">
          <h1 class="heading">Vision</h1>
          <p>We want to increase our foreign currency</p>
        </div>
      </div>

      <div class="card goal">
        <div class="card-contents">
          <h1 class="heading">Goal</h1>
          <p>We want to reduce unemployness of our country</p>
        </div>
      </div>
    </section>

    <section class="third-portion">
      <div class="contents">
        <h1 class="heading">Develop Without Limits</h1>
        <p>We have contributions over various fields.</p>
        <button class="btn-doc">Read the Documentation</button>
      </div>
      
    </section>

    <section class="fourth-portion">
      <div class="contents">
        <h1>Know Our Global Community</h1>
        <p>We have a great community accross the world!</p>
        <button class="btn-doc">Read the Documentation</button>
      </div>
      
    </section>

    <div class="heading" id="services-heading"><h1>Our Services</h1></div>
    <section class="fifth-portion">
      <div class="card ecommerce">
        <div class="card-contents">
          <h1 class="heading">ECommerce</h1>
          <p>We have successfully completed various ecommercers services.</p>
        </div>
      </div>

      <div class="card fintech">
        <div class="card-contents">
          <h1 class="heading">Fintech</h1>
          <p>We have successfully completed various fintech services.</p>
        </div>
      </div>

      <div class="card healthcare">
        <div class="card-contents">
          <h1 class="heading">Healthcare</h1>
          <p>We have successfully completed various healthcare services.</p>
        </div>
      </div>
    </section>

    <footer>
      <h3>Brainstation23</h3>
      <p>Copyrights &copy 2022<span class="copyright">All rights reserved</span>
    </footer>
  </body>
</html>